* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF5E7;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 60%;
  height: 4rem;
  background-color: #FFFFFF;
  padding: 1rem 2rem;
  border-radius: 10px;
  justify-content: space-between;
}

.logo img {
  height: 3rem;
  padding: 2%;
  margin-right: 8rem;
}

.logo-1 img {
  display: none;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  position: relative;
  font-family: 'Space Grotesk', sans-serif;
}

nav ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: orange;
}

nav ul li a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: orange;
}

.join-button {
  background-color: #030CEF;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Space Grotesk', sans-serif;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 5px;
}

.close-button {
  display: none;
  background: none;
  border: none;
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-container {
    justify-content: space-between;
    padding: 1rem;
  }

  .logo-1 img {
    display: block;
  }

  .logo img {
    display: none;
  }

  nav ul {
    display: none;
  }

  .hamburger {
    display: block;
    margin-left: auto;
  }

  nav ul.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    padding-top: 4rem;
    align-items: center;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  }

  nav ul li {
    margin: 1.5rem 0;
    text-align: center;
  }

  .join-button {
    font-size: 1rem;
  }

 .close-button {
  display: none;
  background: none;
  border: none;
  color: #000000;
  font-size: 2rem;
  font-weight:300;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul.active ~ .close-button {
    display: block;
  }
}
}

.intro-section {
  padding: 2rem;
  background-color: #FFF5E7;
  padding: 5%;
  margin: 1% auto;
}

.intro-section .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.icon-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-title h1 span {
  color: #030CEF;
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom: 2rem;
}

.text-content {
  max-width: 50%;
  padding: 1.5rem;
}

.image-content img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .intro-section .content,
  .cta-content {
    flex-direction: column;
    text-align: left;
  }

  .text-content,
  .cta-text {
    max-width: 100%;
  }

  .details-section {
    flex-direction: column;
    text-align: left;
  }

  .icon-title h1 span {
    font-size: 2.3rem;
  }
}

.centered-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem; 
}

.centered-heading h2 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Space Grotesk', sans-serif;
}

.icon img {
  margin-right: 10px; 
}

  /* -------------- our programs ------------------*/
  .programs h2{
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
  }

  .programs .centered-heading h2 {
    font-family: 'Space Grotesk', sans-serif;
  }

  .career-pathway {
    border: 2px solid #030CEF;
    border-radius: 10px 10px 10px 10px;
    padding: 2rem;
    background-color: #FFFFFF;
    width: 90%;
    margin: 2% auto;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  }
  
  .content-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .left-column {
    width: 35%;
    position: relative;
  }
  
  .program-header {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .program-header h2 {
    color: #030CEF;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
  }
  
  .blue-square {
    width: 30px;
    height: 20px;
    background-color: #030CEF;
    order: -1; /* Places the blue square before "Program" */
  }
  
  .orange-square {
    width: 30px;
    height: 20px;
    background-color: #FF6C00;
  }
  
  .program-number {
    font-size: 4rem;
    color: #030CEF;
    font-weight: 700;
    margin: 1rem 0;
    font-family: 'Space Grotesk', sans-serif;
  }
  
  .program-description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
  }
  
  .get-started-button {
    background-color: #030CEF;
    color: #FFF;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    font-family: 'Space Grotesk', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  }
  
  .right-column {
    width: 35%;
  }
  
  .benefits-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem;
    font-family: 'Space Grotesk', sans-serif;
  }
  
  .benefits-list li {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .benefit-icon {
    color: #030CEF;
    font-size: 1rem;
  }
  
  .target-group {
    font-size: 1rem;
  }
  
  .target-group strong {
    font-weight: 700;
  }
  
  /* Responsive styling for smaller dimensions */
  @media (max-width: 768px) {
    .career-pathway {
      padding: 1.5rem;
      max-width: 100%;
    }
  
    .content-wrapper {
      flex-direction: column;
    }
  
    .left-column, .right-column {
      width: 100%;
    }
  
    .program-header h2 {
      font-size: 1.25rem; 
    }
  
    .program-number {
      font-size: 2rem; 
      margin: 0.5rem 0;
    }
  
    .program-description, .benefits-list li, .target-group {
      font-size: 0.9rem; 
      margin-top: 1rem;
    }
  
    .get-started-button {
      padding: 0.5rem 1rem;
    }

    .benefits-list {
      list-style: none;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    
    .benefits-list li {
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  
    .blue-square, .orange-square {
      width: 20px;
      height: 15px; 
    }
  } 

.career-pathway:hover {
  background-color: #030CEF;
  color: #FFFFFF;
}

.career-pathway:hover .program-header h2,
.career-pathway:hover .program-number,
.career-pathway:hover .get-started-button,
.career-pathway:hover .benefit-icon {
  color: #FFFFFF;
}

.career-pathway:hover .blue-square {
  background-color: #FFFFFF;
}

.career-pathway:hover .get-started-button {
  background-color: #FFFFFF;
  color: #030CEF;
  transition: scale(1.05);
}

/* Container Styling */
.why-techbox {
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
}

.why-techbox-container {
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  align-items: center;
}

.why-techbox-image img {
  border-radius: 10px;
  width: 100%;
}

/* Content Styling */
.why-techbox-content {
  color: #000;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-header h2 {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom: 1rem;
}

.section-header .icon img {
  width: 1.5rem;
  margin-bottom: -0.3rem;
}

/* Button Styling */
.get-started-button-1 {
  background-color: #030CEF;
  color: #FFFFFF;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: bold;
  cursor: pointer;
  width: 80%;
  font-family: 'Space Grotesk', sans-serif;
}

.get-started-button-1:hover {
  background: #FFF;
  color: #030CEF;
  border: 2px solid #030CEF;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .why-techbox-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .section-header h2 {
    font-size: 2rem;
  }

  .get-started-button-1 {
    width: 100%;
  }
}

/* Footer Container */
footer {
  padding: 1%;
}

.footer {
  background-color: #030CEF;
  color: #FFFFFF;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px; 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.newsletter, .company-info {
  width: 45%;
}

/* Newsletter Section */
.newsletter h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Space Grotesk', sans-serif;
}

.newsletter p {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-family: 'Space Grotesk', sans-serif;
}

form button {
  background-color: #FFFFFF;
  color: #030CEF;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  font-family: 'Space Grotesk', sans-serif;
}

form button:hover {
  background-color: #030CEF;
  color: #FFFFFF;
  border: 2px solid #FFF;
}

/* Social Links */
.social-links {
  margin-top: 1.5rem;
}

.social-icon {
  color: #FFF;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.icon {
  color: #030CEF;
  font-size: 1.25rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left; 
  gap: 1rem;
}

.footer-logo {
  width: 4rem;
  height: auto;
}

.footer-links {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-column a {
  color: #FFFFFF;
  text-decoration: none;
}

.contact-info {
  margin-top: 1rem;
}

.contact-info p {
  margin: 0.2rem 0;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #FFFFFF;
  margin: 2rem 0;
}

.copyright {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .newsletter, .company-info {
    width: 100%;
    text-align: left;
  }
}
